.information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5%;
    padding-right: 17%;
    padding-left: 17%;
    background-color: white;
}

.image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.pic1 {
    border-radius: 50px;
    width: 375px;
    height: auto;
}