.home {
    background-color: white;
    padding: 5%;
}


.information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    grid-row-gap: 50px;
}

.image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.pic1 {
    border-radius: 50px;
    width: 375px;
    height: auto;
}