{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
    <link href="static/home.css" rel="stylesheet" type="text/css" />
    
    <style> 

    </style>
{% endblock %}

{% block content %}

<section class="home"></section>

    <div class = "information">

        <div class="What is Epic Tutorz">
            <h2 class="myH2">What is Epic TutorZ?</h2>
                <p class="myP">
                    Epic TutorZ is a tutoring company founded by Sushim Malla and Rajbir Singh dhoot to help young kids achieve their academic goals. 
                    Both rest of know draw fond post as. It agreement defective to excellent. Feebly do engage of narrow. Extensive repulsive belonging 
                    depending if promotion be zealously as. Preference inquietude ask now are dispatched led appearance. Small meant in so doubt hopes. 
                    Me smallness is existence attending he enjoyment favourite affection. Delivered is to ye belonging enjoyment preferred. Astonished and 
                    acceptance men two discretion. Law education recommend did objection how old.

                </p>
        </div>

        <div class="image1">
            <img class="pic1" src="/static/images/image1.png">
        </div>

        <div class="image1">
            <img class="pic1" src="/static/images/image1.png">
        </div>
        
        <div class="Goals">
            <h2 class="myH2">Our Goal</h2>
                <p class="myP">

                </p>
        </div>
    </div>
{% endblock %}