{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
    <link href="static/home.css" rel="stylesheet" type="text/css" />
    
    <style> 

    </style>
{% endblock %}

{% block content %}

<section class="home"></section>

    <div class = "information">

        <div class="What is Epic Tutorz">
            <h2 class="myH2">What is Epic TutorZ?</h2>
                <p class="myP">
                    Legende desolee obtenue bientot et ah maigres le dernier. Astres baquet autres il arrive ma. 
                    Resterait conquerir de ou chaclosah au epaissies. De ignorant amoureux ailleurs ai. Rumeur ma
                     gamins ca saules du oh dresse poussa. Prudence philippe essaiera on hataient se convient. Oeufs
                     etait vieil motif ou rendu ouvre en. Partout toi eux entrait drapent.

                </p>
        </div>

        <div class="image1">
            <img class="pic1" src="/static/images/image1.png">
        </div>

        <div class="image1">
            <img class="pic1" src="/static/images/image1.png">
        </div>
        
        <div class="Goals">
            <h2 class="myH2">Our Goal</h2>
                <p class="myP">

                </p>
        </div>
    </div>
{% endblock %}